<h1>Roll for <%= @course.name %></h1>
<% if @course.students.count > 0 %>
  <table>
    <tr>
      <th>Student</th>
      <th>GPA</th>
    </tr>
    <% for student in @course.students do %>
      <tr>
        <td><%=link_to student.given_name, student %></td>
        <td><%= student.grade_point_average %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No students are enrolled.</p>
<% end %>
<p><%= link_to "Back", @course %></p>